/* Variables */

:root {
  --basic-black: #000000;
  --basic-grey: #EEEEEE;
  --basic-semi-black: #283136;
  --special-grey: #444444;
  --special-red: #FB565A;
  --special-red-darker: #E74246;
  --special-red-dark: #D7373B;
  --special-green: #00CA74;
  --special-green-darker: #00BC6C;
  --special-green-dark: #00AA62;
  --special-yellow: #EFC849;
  --special-yellow-darker: #EAB534;
  --special-yellow-dark: #E5A722;
  --basic-white: #ffffff;
  --special-white: #DFDFDF;
  --special-white-dark: #D5D5D5;
  --special-white-light: #DBDBDB;

}

/* Global */

.page {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  visibility: hidden;
}

/* grid */

.page {
  height: 100%;
}

/* main header */

.main-header {
  background-color: var(--basic-grey);
}

/* Main navigation */

.main-navigation {
  display: grid;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  text-transform: uppercase;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 170px 1fr min-content;
  width: 1157px;
  margin: 0 auto;
}

.site-navigation,
.user-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

/* Container */

.container {
  width: 1157px;
  margin: 0 auto;
}



/* User navigation */


.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--special-red);
}

/* slider */

.color-wrapper {
  background-color:var(--basic-grey);
  margin-top: -21px;
}

.slider {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--basic-grey);
  margin-bottom: 80px;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
}

.slider-text {
  color: var(--basic-semi-black);
}

.button {

  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  display: block;
  background-color: var(--special-red);
  cursor: pointer;
}

.slider-button {
  background-color: var(--special-red);
  width: 240px;
  height: 50px;
}

.slider-button:hover,
.slider-button:focus {
  background-color: var(--special-red-darker);
}

.slider-button:active {
  background-color: var(--special-red-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* services */

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-text {
  color: var(--basic-semi-black);
}

.services-button-red {
  width: 160px;
  height: 50px;
}

.services-button-red:hover,
.services-button-red:focus {
  background-color: var(--special-red-darker);
}

.services-button-red:active {
  background-color: var(--special-red-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services-button-green {
  width: 160px;
  height: 50px;
  background-color: var(--special-green);
}

.services-button-green:hover,
.services-button-green:focus {
  background-color: var(--special-green-darker);
}

.services-button-green:active {
  background-color: var(--special-green-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services-button-yellow {
  width: 160px;
  height: 50px;
  background-color: var(--special-yellow);
}

.services-button-yellow:hover,
.services-button-yellow:focus {
  background-color: var(--special-yellow-darker);
}

.services-button-yellow:active {
  background-color: var(--special-yellow-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* about */

.about-tagline {
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black)
}

.about-text {
  color: var(--basic-semi-black)
}

.about-general {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-semi-black);
}

.about-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-item {
  color: var(--basic-semi-black);
}

.percent {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black)
}

.about-number {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black)
}

.about-text {
  color: var(--basic-semi-black);
}

.index-columns {
  display: grid;
  grid-template-columns: 1fr min-content;
}

/* partners */

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;

}

/* footer */

.main-footer {
  margin-top: 80px;
}

.footer-column {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.footer-text-1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-text-2 {
  color: var(--special-grey);
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* popup */

.contact-form-submit {
  width: 259px;
  height: 50px;
  border-radius: 3px;
  border: none;
}

.contact-form-submit:hover {
  background-color: var(--special-red-darker);
}

.contact-form-submit:active {
  background: var(--special-red-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(0, 1, 1, 0.3);
}

/* catalog */

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  background-color: var(--basic-grey);
  margin-top: 0px;
}

.catalog-column {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
}

.filter-catalog-form {
  display: grid;
  grid-template-columns: 1fr 42px;
}

/* Template filter */

.legend-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.form-fields-list {
  list-style: none;
  line-height: 19px;
}

.form-input,
.filter-description {
  color: var(--basic-semi-black);
}

.form-input:hover + .filter-description,
.form-input:focus + .filter-description {
  color: var(--basic-semi-black);
}

.form-input:disabled + .filter-description {
  color: var(--basic-semi-black);
  opacity: 0.3;
}

.form-checkbox-field {
  color: var(--basic-semi-black);
}

.form-checkbox-field:hover + .filter-description,
.form-checkbox-field:focus + .filter-description {
  color: var(--basic-semi-black);
}

.form-checkbox-field:disabled + .filter-description {
  color: var(--basic-semi-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.form-submit-button {
  background: var(--basic-grey);
  border-radius: 3px;
  width: 260px;
  height: 50px;
  border: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.form-submit-button:hover {
  background: var(--special-white);
}

.form-submit-button:active {
  background: var(--special-white-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border: none;
  mix-blend-mode: normal;
  color: rgba(0, 1, 1, 0.3);
}

/* фильтр каталога */

.filter-sort ul {
  list-style: none;
}

.filter-buttons-list {
  list-style: none;
}

.filter-sort li,
.filter-buttons-item {
  opacity: 0.3;
}

.filter-sort li:hover,
.filter-sort li:focus,
.filter-buttons-item:hover,
.filter-buttons-item:focus {
  opacity: 0.6;
}

.filter-sort li:active,
.filter-sort li:checked,
.filter-buttons-item:active,
.filter-buttons-item:checked {
  opacity: 1;
}

/* шаблоны */

.templates-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.templates-button {
  border-radius: 3px;
  width: 200px;
  height: 50px;
  border: none;
}

.templates-button:hover {
  background-color: var(--special-red-darker);
}

.templates-button:active {
  background-color: var(--special-red-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* пагинация */

.pagination-list {
  list-style: none;
}

.pagination-button {
  background-color: var(--basic-grey);
  border-radius: 3px;
  width: 50px;
  height: 50px;
  display: block;
  color: var(--basic-black);
  text-align: center;
  line-height: 18px;

}

.next-pagination-button {
  background-color: var(--basic-grey);
  border-radius: 3px;
  display: block;
  color: var(--basic-black);
  width: 260px;
  height: 50px;
  text-align: center;
  line-height: 18px;

}

.pagination-button:hover,
.pagination-button:focus,
.next-pagination-button:hover,
.next-pagination-button:focus {
  background-color: var(--special-white);
}

.pagination-button:active,
.next-pagination-button:active {
  background-color: var(--special-white-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(0, 1, 1, 0.3);
}

.current-pagination-button {
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--special-white-light);
  box-sizing: border-box;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
}
